.theme-switcher__lable {
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 5px;
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.theme-switcher {
  opacity: 0;
  position: absolute;
}

.theme-switcher:checked + .theme-switcher__lable .toggle-circle {
  right: 3px;
  left: auto;
  transition: right 0.2s ease-in, left 0.2s ease-in;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-background-main);
}

.toggle-circle {
  height: 25px;
  width: 25px;
  background-color: var(--color-background-main);
  position: absolute;
  top: 50%;
  left: 3px;
  right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: right 0.2s ease-in, left 0.2s ease-in;
}
